.overall-hero-section{
height:max-content;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
gap: 2rem;
}
 @media screen and (max-width:25em) {
    .overall-hero-section{
        display: flex;
        flex-direction: column;
    }   
}

.left-side-hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.left-side-text-box{
width: 70%;
}
@media screen and (max-width:21.875em) {
    .left-side-text-box{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }   
}
@media screen and (max-width:18.875em) {
    .left-side-text-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }     
}
.left-side-text-box h1{
font-size: 3.5rem;

}
@media screen and (max-width:50em) {
    .left-side-text-box h1{
        font-size: 3rem;
        }
}
@media screen and (max-width:21.875em) {
    .left-side-text-box h1{
        font-size: 2.3rem;
        text-align: center;
        }   
}
@media screen and (max-width:18.125em) {
    .left-side-text-box h1{
        font-size: 2rem;
    }   
}
.left-side-text-box h2{
color: var(--secondary-color);
font-weight: bold;
font-size: 3rem;
}

@media screen and (max-width:50em) {
    .left-side-text-box h2{
        font-size: 2rem;
    }
}
@media screen and (max-width:21.875em) {
    .left-side-text-box h2{
        font-size: 1.5rem;
        text-align: center;
    }  
}
.call-to-action-links{
padding-block:2rem;
}
.start-writting button{
background-color: var(--secondary-color);
color: white;
width: max-content;
height: 3rem;
font-size: 1.2rem;
}
.explore-stories{
display: flex;
flex-direction: row;
gap: 1rem;
margin-top: 1rem;
align-items: center;
}
.arrow-icon{
width: max-content;
height: max-content;
}
.actual-arrow-icon{
font-size: 3rem;
color:var(--secondary-color)
}
.explore-p{
font-size: 1.3em;
margin-top: 1rem;
}
.right-side-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.video-blog-container{
width: 80%;
height: 80%;
box-shadow: 0px 10px 20px rgba(226, 35, 83, 0.8);
}