.overall-password-update-overall-container{
    padding: 2rem;
}
.overall-password-update-overall-container h1{
text-align: center;
border-bottom: 1px solid rgb(178, 176, 176);
}
.password-update-div form{
display: flex;
flex-direction: column;
gap: 1.5rem;
}